* {
  margin: 0px;
  padding: 0px;
}
html{
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

/* STYLES FOR NAVTAB */
body{
    color: #5f2841;
    font-family: "Oswald", sans-serif;
}
header {
  display: flex;
  flex-direction: row;
  background-color: #81d8bb;
  color: #ffffff;
  position: sticky;
  justify-content: space-between;
  top: 0;
  width: 100%;
}

.logo-image {
  width: 100px;
  height: 65px;
  display: flex;
  flex-direction: row;
}
.logo-image img {
  width: 100%;
  height: 100%;
}
.logo-image p {
  z-index: 10;
  font-size: 25px;
  margin-left: -20px;
  margin-top: 17px;
}
nav {
  margin: 0px auto;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  font-size: 25px;
  margin-top: 16px;
  margin-right: 28px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

/* STYLES FOR homeSection */
section{
    height: 100vh;
    width: 75%;
    margin: 0 auto;
    /* border-bottom: 1px  solid gray; */
}

.ctn{
    display: flex;
    align-items: center;
    margin: 8% auto;
    justify-content: center;
   
}

.profileImage-ctn {
    width: fit-content;
    height:fit-content;
   

}

.profileImage-ctn img{
    border-radius: 40%;
}

.homeSection-Text {
    width: 700px;
    margin: 50px;
    padding: 30px;

}
.homeSection-Text p{
    font-size: 8rem;
    
    
}
.homeSection-Text .p1{
    font-size: 9.5rem;
    color: rgb(163, 6, 66);
    font-weight: bolder;
}
.homeSection-Text .p2{
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}
.homeSection-Text .p3{
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}



/* SECTION 2 STYLES */
.h1{
    font-size: 30px;
}

.ctn-2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 8% auto;
    justify-content: center;
}
.screenshotAS{
    width: 560px;
    height:350px;
}
.screenshotAS img{
    width:100%;
    height:100%
}
.AS-work{
    width: 700px;
    margin: 50px;
    padding: 30px;
}
.AS-work p{
    font-size: 6rem;
    color: rgb(20, 1, 2);
    font-weight: bolder;
    margin-bottom: 25px;
   color: rgb(163, 6, 66);
}
.AS-work .p1AS{

    font-size: 3rem;
    color: #5f2841;
    margin: 10px;
}
.AS-work .p2AS{
    font-size: 2.7rem;
    margin: 10px;
    color: #c06d53;
}
.AS-work .p3AS{
    font-size: 2rem;
    margin: 10px;
    color: black;
    
}

#Acard-img-ctn {
    width: 350px;
}

.About-firstPara{
    font-size: 2rem;
    color: #c06d53;
    font-size: xx-large;
}

.Avout-list{
    background-color: #81d8bb;
    padding: 30px;
    color: #c06d53;
}
.About-list{
    border: solid;
    padding: 12px;
    border-color: #ffffff;
    border-radius: 2rem;
    text-align: center;
    background-color: #ffffff;
    color: #c06d53;
}


/* RESPONSIVE SECTION */
@media screen and (max-width: 900px) {

}